BasedOnStyle: LLVM
AllowShortIfStatementsOnASingleLine: false
AlignConsecutiveAssignments: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Linux
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
IndentCaseLabels: false
IndentWidth: 8
SortIncludes: false
UseTab: ForIndentation