*.o
*.d
.*.cmd
*.ko
*.mod.c
*.orig
.*.swp
config
tags
cscope.*
modules.order
Module.symvers
.tmp_versions
cache/
cnic_if.h
e1000/
e1000e*/
forcedeth.c
xen-netfront.c
r8169.c
get-drivers
igb*/
ixgbe*/
vmxnet*/
log/
scripts/conf
virtio_net.c
config.log
Kbuild
netmap.mak
config.status
drivers.mak
patches
get-*
netmap-tmpdir
netmap_linux_config.h
netmap-tmp.c
i40e*/
veth.c
failed-patches
apps/lb/lb
apps/nmreplay/nmreplay
apps/tlem/tlem
apps/bridge/bridge
apps/bridge/bridge-b
apps/pkt-gen/pkt-gen
apps/pkt-gen/pkt-gen-b
utils/test_select
utils/testcsum
utils/testlock
utils/testmmap
utils/vale-ctl
utils/test_nm
utils/cygwin1.dll
utils/ctrl-api-test
utils/functional
utils/fd_server
utils/get_tx_rings_avail_sends
utils/get_tx_rings_max_sends
utils/extmem-example
examples/pkt-gen.exe
examples/pkt-gen.exe.stackdump
examples/pkt-gen-b.exe
examples/pkt-gen-b.exe.stackdump
build*/
LINUX/tmp-patches
LINUX/veth.c
*.gcno
*.core
*.suo
*.sdf
*.opensdf
*~
cscope.out
*.7
default-config.mak
drv-subdir.mak
read-vars.mak
!LINUX/default-config.mak
!LINUX/drv-subdir.mak
!LINUX/read-vars.mak
!LINUX/final-patches/*
LINUX/scripts/conf
config.mak
*.rej
utils/producer
.cache.mk
utils/sync_kloop_test
