*.o
*.d
.*.cmd
*.ko
*.mod.c
*.orig
.*.swp
tags
modules.order
Module.symvers
.tmp_versions
LINUX/cache/
LINUX/cnic_if.h
LINUX/e1000/
LINUX/e1000e/
LINUX/forcedeth.c
LINUX/xen-netfront.c
LINUX/r8169.c
LINUX/get-drivers
LINUX/igb/
LINUX/ixgbe/
LINUX/log/
LINUX/scripts/conf
LINUX/virtio_net.c
LINUX/config.log
LINUX/Kbuild
LINUX/netmap.mak
LINUX/config.status
LINUX/drivers.mak
LINUX/patches
LINUX/get-*
LINUX/netmap-tmpdir
LINUX/netmap_linux_config.h
LINUX/netmap-tmp.c
LINUX/i40e
LINUX/failed-patches
examples/bridge
examples/bridge-b
examples/pkt-gen
examples/pkt-gen-b
examples/test_select
examples/testcsum
examples/testlock
examples/testmmap
examples/vale-ctl
examples/cygwin1.dll
examples/pkt-gen.exe
examples/pkt-gen.exe.stackdump
examples/pkt-gen-b.exe
examples/pkt-gen-b.exe.stackdump
build*/
LINUX/tmp-patches
LINUX/veth.c
*.gcno
*.core
*.suo
*.sdf
*.opensdf
*~
cscope.out
