dist: xenial
sudo: required
language: c
env:
  - KERNEL_VERSION=local ARCH=x86_64
  - KERNEL_VERSION=3.0   ARCH=x86_64
  - KERNEL_VERSION=3.1   ARCH=x86_64
  - KERNEL_VERSION=3.2   ARCH=x86_64
  - KERNEL_VERSION=3.3   ARCH=x86_64
  - KERNEL_VERSION=3.4   ARCH=x86_64
  - KERNEL_VERSION=3.5   ARCH=x86_64
  - KERNEL_VERSION=3.6   ARCH=x86_64
  - KERNEL_VERSION=3.7   ARCH=x86_64
  - KERNEL_VERSION=3.8   ARCH=x86_64
  - KERNEL_VERSION=3.9   ARCH=x86_64
  - KERNEL_VERSION=3.10.108  ARCH=x86_64
  - KERNEL_VERSION=3.11  ARCH=x86_64
  - KERNEL_VERSION=3.12  ARCH=x86_64
  - KERNEL_VERSION=3.13  ARCH=x86_64
  - KERNEL_VERSION=3.14  ARCH=x86_64
  - KERNEL_VERSION=3.15  ARCH=x86_64
  - KERNEL_VERSION=3.16  ARCH=x86_64
  - KERNEL_VERSION=3.17  ARCH=x86_64
  - KERNEL_VERSION=3.18  ARCH=x86_64
  - KERNEL_VERSION=3.19  ARCH=x86_64
  - KERNEL_VERSION=4.0   ARCH=x86_64
  - KERNEL_VERSION=4.1   ARCH=x86_64
  - KERNEL_VERSION=4.2   ARCH=x86_64
  - KERNEL_VERSION=4.3   ARCH=x86_64
  - KERNEL_VERSION=4.4   ARCH=x86_64
  - KERNEL_VERSION=4.5   ARCH=x86_64
  - KERNEL_VERSION=4.6   ARCH=x86_64
  - KERNEL_VERSION=4.7   ARCH=x86_64
  - KERNEL_VERSION=4.8   ARCH=x86_64
  - KERNEL_VERSION=4.9   ARCH=x86_64
  - KERNEL_VERSION=4.10  ARCH=x86_64
  - KERNEL_VERSION=4.11  ARCH=x86_64
  - KERNEL_VERSION=4.12  ARCH=x86_64
  - KERNEL_VERSION=4.13  ARCH=x86_64
  - KERNEL_VERSION=4.14  ARCH=x86_64
  - KERNEL_VERSION=4.15  ARCH=x86_64
  - KERNEL_VERSION=4.16  ARCH=x86_64
  - KERNEL_VERSION=4.17  ARCH=x86_64
  - KERNEL_VERSION=4.18  ARCH=x86_64
  - KERNEL_VERSION=4.19  ARCH=x86_64
  - KERNEL_VERSION=4.20  ARCH=x86_64
  - KERNEL_VERSION=3.16  ARCH=i386
script:
  - "./ci/build-linux $KERNEL_VERSION $ARCH"
  - "[ ${KERNEL_VERSION} != local ] || ./ci/run-integration-tests"
